.app {
    position: relative;
    height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.app1 {
    position: none;
  }
.app2 {
    color: transparent;
  }
  
  .custom-cursor {
    position: absolute;
    width: 200px;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #f43838;
    color: #fff;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    padding: 5px;
    font-size: 20px;
  }
  
  .cursor-message {
    margin-left: 10px;
  }
/*   
  body {
    cursor: none;
  } */